{
    "task_label": "classification",
    "model_path": "model/albert_chinese_tiny",
    "data_dir": "data/sample_data",
    "save_dir": "output/bond_cls_tf",
    "train_epochs": 10,
    "train_batch_size": 256,
    "eval_batch_size": 128,
    "learning_rate": 5e-4,
    "num_labels": 20,
    "max_length": 100,
    "gpus": "0"
}
